body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

#header {
    background-color: #222;
}

@media (min-width:375px) {
    #banner {
        padding-top: 1.5em;
        padding-left: 2em;
    }
    #navbar {
        text-align: right;
    }
    .button-nav {
        border-top-left-radius: .2em;
        border-top-right-radius: .2em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 1em;
        font-weight: bold;
        color: white;
        background-color: #222;
        border: none;
    }
}

@media (max-width:375px) {
    #banner {
        padding-top: 1rem;
        padding-left: 1rem;
    }
    #navbar {
        text-align: left;
        white-space: nowrap;
    }
    .button-nav {
        border-top-left-radius: .2em;
        border-top-right-radius: .2em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 0.75rem;
        font-weight: bold;
        height: 2em;
        color: white;
        background-color: #222;
        border: none;
    }
}

.button-nav:hover {
    background-color: #333;
}

li {
    list-style: none;
    display: inline;
}

ul {
    padding: 0;
}

.page {
    display: none;
}

.green {
    color: #008b00 !important;
}

h1 {
    display: inline;
    font-size: 2.4rem;
    color: white;
}

h2,
h3 {
    display: inline;
}

#spacer {
    margin: .5rem auto;
    padding: .07rem;
    width: 60%;
    background-color: #ddd;
}

#content {
    width: 100vw;
    max-width: 1280px;
    margin: 0 auto;
}

#short-description {
    text-align: center;
}

.grid,
.tags-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 auto;
}

.tags-container {
    margin-left: 1em;
    margin-right: 1em;
    user-select: none;
}

.button-tag {
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    border-radius: 0.3em;
    font-weight: bold;
}

.button-tag:hover {
    background-color: #222;
    color: white;
}

.grid-item {
    width: 300px;
    margin: .5em;
    box-shadow: 0 0 .2rem lightgray;
    border-radius: .2rem;
    overflow: hidden;
}

.grid-item:hover {
    background-color: lightgray;
}

article {
    padding: .5em;
    padding-top: 0;
}

img {
    max-width: 400px;
    width: 100%;
}

.tags {
    list-style: none;
}

#close-article {
    font-size: 1.5em;
    border-radius: 0.2em;
    border-style: solid;
    border-color: #ddd;
    position: absolute;
    right: 0.5em;
}

#full-article {
    display: none;
    position: absolute;
    float: left;
    width: auto;
    background-color: white;
}

#article-content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}
